<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/book-descrpt.css">
    <style>
        .content_qty{
            border: 1px solid black;
            display: flex;
            justify-content: space-between;
        }

        .cont_title_qty{
            font-size: 20px;
            color: black;
        }

        .btn_remove_prod{
            border-radius: 10px;
            padding: 3px;
            font-size: 16px;
            cursor: pointer;
        }

        .line_payment{
            border: 1px solid black;
            width: 96%;
            margin: auto;
        }

        .payment_result_div{
            width: 90%;
            margin: auto;
            text-align: right;
        }

        .result_text_payment{
            font-size: 21px;
        }

        .btn_submit_payment button{
            font-size: 20px;
            padding: 3px 7px;
            cursor: pointer;
        }

    </style>
</head>
<body >
    
    <%- include('includes/header.ejs') %>
    


    
    <main>
        <!-- <h2>Nothing was added to Cart</h2> -->
        <div class="content_prod">
            <div class="img_book">
                <img class="image_book_cover" src="/img/Image_Cover_1.jpeg" alt="Image not Found">
            </div>

            <div class="section_title">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi, nulla!
            </div>

            <div class="section_author">
                Lorem ipsum dolor sit amet.
            </div>

            <!-- <div class="content_qty">
                <span class="cont_title_qty">Quantity:3</span>
                <form action="" >
                    <button type="submit" class="btn_remove_prod">Remove one</button>
                </form>
                
            </div> -->

        </div>

    </main>


    <div class="line_payment"></div>

    <div class="payment_result_div">
        <span class="result_text_payment">Result: $0</span>
        <form action="" class="btn_submit_payment">
            <button type="submit">Buy It</button>
        </form>
    </div>



    

    <%- include('./includes/footer.ejs') %>

    <script src="/javascript/script.js"></script>
</body>
</html>