<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body >
    
    <%- include('includes/header.ejs') %>
    

    <main >
        <!-- <a href="https://www.google.com/">
            
        </a> -->
        <a class="content_prod" href="/book-description">
            <div class="img_book">
                <img class="image_book_cover" src="/img/Image_Cover_1.jpeg" alt="Image Not Found">
            </div>

            <div class="section_title">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi, nulla!
            </div>

            <div class="section_author">
                Lorem ipsum dolor sit amet.
            </div>

            <div class="section_buy">
                <div class="price_book">
                    <span>Price: $5.0</span> 
                </div>
                <form action="/add-cart">
                    <button>
                        <img class="btn_cart_img" src="/img/cart_img.jpg" alt="Img_Cart"> 
                        <span>Add to Cart</span>
                    </button>
                </form>
            </div>

        </a>
        

    </main>

    <%- include('./includes/footer.ejs') %>

    <script src="/javascript/script.js"></script>
</body>
</html>