<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>

    <%- include('includes/header.ejs') %>


    <main >
        

        <div class="content_prod" >
            <div class="img_book">
                <img class="image_book_cover" src="/img/Image_Cover_1.jpeg" alt="Image Not Found">
            </div>

            <div class="section_title">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi, nulla!
            </div>

            <div class="section_author">
                Lorem ipsum dolor sit amet.
            </div>

            <div class="section_read">
                <form action="">
                    <button type="submit" class="read_btn">Read</button>
                    <input type="hidden">
                </form>
            </div>

        </div>

        
    </main>


    <%- include('./includes/footer.ejs') %>

    <script src="/javascript/script.js"></script>

    
</body>
</html>